<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />

<script>
function validateForm() {
    var x = document.forms["myForm"]["date"].value;
    var y = document.forms["myForm"]["description"].value;
    if (x == "") {
        alert("Date must be filled out");
        return false;
    }
    if (y == "") {
        alert("Description must be filled out")
        return false;
    }
    console.log("x = " + x)
    console.log("y = " + y)
}
</script>


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->

<h1>New Memo</h1>


<form name="myForm" onsubmit="return validateForm()">

  <input type="text" name="date" placeholder="Date"><br>
  <input type="text" name="description" placeholder="Memo Description"><br>
  <input type="submit" value="Submit">
  <button type="button" onclick="window.location.href='{{ url_for( 'index' ) }}';">Cancel</button>

</form>

</div> <!-- container -->
</body>
</html>
